.page-container {
  padding: 40px;
  background-color: #f0f2f5;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button {
  font-size: 16px;
  padding: 10px 20px;
}

.modal-style {
  border-radius: 10px;
  align-items: center;
}

.modal-body {
  padding: 20px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.input-field {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.select-field {
  width: 100%;
  margin-bottom: 8px;
}

.add-button {
  padding-left: 0;
  font-size: 14px;
}

.blue-box {
  border: 1px solid #d9d9d9;
  padding: 16px;
  background-color: #e6f7ff;
  margin-bottom: 16px;
  border-radius: 5px;
}
